<header>
    <nav class="nav">
        <ul class="navbarHome">
            <div>
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logoNav">
                <a href="/"><img src="/img/logo.png" class="imgLogo"></a>
            </div>
            <div class="itemsNav">
                <li><a href="/products?category=Women"><strong> WOMEN </strong></a></li>
                <li><a href="/products?category=Men"><strong>MEN </strong></a></li>
                <li><a href="/products?category=Accesories"><strong>ACCESORIES </strong></a></li>
            </div>
            <div class="searchBar">
                <form class="formN" action="/searchPage">
                    <button class="btnN" type="submit"><i class="fas fa-search"></i>
                    </button>
                    <input class="inputS" type="search" name="search" pattern=".*\S.*" required>
                </form>
            </div>


            <% if (locals.userIsLog) { %>
                <p>Hi, <%= locals.userLogged.nombre %>
                </p>
                <% } %>



                    <a href="/auth/login" class="iconNav"><i class="fa-regular fa-user navIcon"></i></a>
                    <a href="/products/cart" class="iconNav"><i class="fa-solid fa-bag-shopping navIcon"></i></a>

                    <% if (locals.userIsLog) { %>
                        <a href="/auth/logout">Logout</a>
                        <% } %>.



        </ul>
    </nav>
</header>