<header>
    <nav class="nav">
        <ul class="navbarHome">
            <div class="logoNav">
                <a href="/"><img src="/img/logo.png" class="imgLogo"></a>
            </div>
            <div class="divResponsive">
                <label for="iconoMenu">
                    <i id="hb" class="fa-solid fa-bars"></i></label>
                <input class="iconoMenu" type="checkbox" name="" id="iconoMenu">
                <div class="menuResponsive">
                    <div class="searchResponsive">
                        <form class="formResponsive" action="/searchPage">
                            <button class="btnN" type="submit"><i class="fas fa-search"></i>
                            </button>
                            <input class="inputResponsive" type="search" name="search" pattern=".*\S.*" required>
                        </form>
                    </div>
                    <li><a href="/products?category=1"><strong>MUJER </strong></a></li>
                    <li><a href="/products?category=2"><strong>HOMBRE </strong></a></li>
                    <li><a href="/products?category=3"><strong>ACCESORIO </strong></a></li>
                </div>
            </div>
            <div class="itemsNav">
                <li><a href="/products?category=1"><strong>MUJER </strong></a></li>
                <li><a href="/products?category=2"><strong>HOMBRE </strong></a></li>
                <li><a href="/products?category=3"><strong>ACCESORIO </strong></a></li>
            </div>
            <div class="searchBar">
                <form class="formN" action="/searchPage">
                    <button class="btnN" type="submit"><i class="fas fa-search"></i>
                    </button>
                    <input class="inputS" type="search" name="search" pattern=".*\S.*" required>
                </form>
            </div>


            <% if (locals.userIsLog) { %>
                <p>Hi, <%= locals.userLogged.name %>
                </p>
                <% } %>

                    <% if (locals.userIsLog && userLogged.role_id===1 ) { %>
                        <!-- <li class="administrar">Administrar</li>
                        <div class="sub-menu">
                            <ul class="dropdown">
                                <li><a class="admin" href="/admin">Administrar Productos</a></li>
                                <li><a class="admin" href="/adminUsers">Administrar Usuarios</a></li>
                            </ul>
                        </div> -->
                        <div class="dropdown">
                            <p class="drop">Administrar</p>
                            <div class="dropdown-content">
                                <a href="/admin">Productos</a>
                                <a href="/adminUsers">Usuarios</a>
                            </div>
                        </div>
                        <% } %>
                            <a href="/auth/login" class="iconNav"><i class="fa-regular fa-user navIcon"></i></a>
                            <a href="/products/cart" class="iconNav"><i
                                    class="fa-solid fa-bag-shopping navIcon"></i></a>

                            <% if (locals.userIsLog) { %>
                                <a href="/auth/logout">Logout</a>
                                <% } %>
        </ul>

    </nav>
</header>