<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Crear productos</title>
</head>
<body>
    <form action="/crear-productos" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Nombre del producto" required>
        <textarea name="description" placeholder="Descripción" required></textarea>
        <input type="file" name="image" accept="image/*" required>
        <input type="text" name="category" placeholder="Categoría" required>
        <input type="text" name="colors" placeholder="Colores" required>
        <input type="number" name="price" placeholder="Precio" required>
        <button type="submit">Crear producto</button>
      </form>
</body>
</html>