<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/home.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Inter:wght@300&family=Poppins:ital,wght@1,100&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <title> AZPORT || PAGINA WEB </title>
</head>

<body>
    <!-- Empieza navbar -->

    <%- include("partials/header"); %>

        <!-- Termina nabvar -->

        <div>
            <div class="headerN">

            </div>
        </div>
        <!-- Empiezan las cards -->
        <div class="bodyHome">
            <div class="titleCards">
                <div>
                    <p> <b>NEW RELEASE </b></p>
                </div>
                <div>
                    <p> <b>View all </b> </p>
                </div>
            </div>


            <div class="cards">

                <article>
                    <div class="card">
                        <img src="/img/topRosa.jpg" alt="Gatito card 1" class="imgCard">
                        <p class="descripcionCard"><b>Seamless Training Top</b></p>
                        <p class="colorItem">Pink</p>
                        <p class="priceItem">$40</p>
                    </div>
                </article>

                <article>
                    <div class="card">
                        <img src="/img/cropTopAzul.jpg" alt="Gatito card 2" class="imgCard">
                        <p class="descripcionCard"><b>Seamless Long Sleeve Crop Top</b></p>
                        <p class="colorItem">LightBlue</p>
                        <p class="priceItem">$40</p>
                    </div>
                </article>

                <article>
                    <div class="card">
                        <img src="/img/leggingNegro.jpg" alt="Gatito card 3" class="imgCard">
                        <p class="descripcionCard"><b>Seamless Vital 2.0 Legging</b></p>
                        <p class="colorItem">Black</p>
                        <p class="priceItem">$40</p>
                    </div>
                </article>

                <article>
                    <div class="card">
                        <img src="../img/cropTopRosa.jpg" alt="Gatito card 4" class="imgCard">
                        <p class="descripcionCard"><b>Seamless Long Sleeve Crop Top</b></p>
                        <p class="colorItem">Pink</p>
                        <p class="priceItem">$40</p>
                    </div>
                </article>

            </div>


            <p class="titleCards"> <b> SHOP </b></p>
            <div class="cards shopCards">
                <div class="card2">
                    <img src="../img/showWomen.jpg" alt="Gatito card 5" class="imgCard2">
                    <div class="descripA">
                        <p class="descripcionCard2"><b>SHOP WOMEN </b> </p>
                        <p class="btnA"><i class="fas fa-arrow-right" style="color: #0c0d0d;"></i></p>
                    </div>
                </div>
                <div class="card2">
                    <img src="/img/showMen.jpg" alt="Gatito card 5" class="imgCard2">
                    <div class="descripA">
                        <p class="descripcionCard2"><b> SHOP MEN </b></p>
                        <p class="btnA"><i class="fas fa-arrow-right" style="color: #0c0d0d;"></i></p>
                    </div>
                </div>
                <div class="card2">
                    <img src="/img/showAcc.jpg" alt="Gatito card 5" class="imgCard2">
                    <div class="descripA">
                        <p class="descripcionCard2"><b> SHOP ACCESORIES</b></p>
                        <p class="btnA"><i class="fas fa-arrow-right" style="color: #0c0d0d;"></i></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Terminan las cards -->
</body>

<!-- Empieza el footer :) -->
<%- include("partials/footer"); %>
    <!-- Termina el footer <3 -->

</html>