<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/home.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Inter:wght@300&family=Poppins:ital,wght@1,100&display=swap"
        rel="stylesheet">
    <title> AZPORT || PAGINA WEB </title>
</head>

<body>
    <!-- Empieza navbar -->
    <header class="headerN">
        <nav class="nav">
            <ul class="navbarHome">
                <div class="logoNav">
                    <img src="../public/logo.png">
                </div>
                <div class="itemsNav">
                    <li><a><strong> WOMEN </strong></a></li>
                    <li><a><strong>MEN </strong></a></li>
                    <li><a><strong>ACCESORIES </strong></a></li>
                </div>
                <div class="searchBar">
                    <form class="formN" action="">
                        <button class="btnN" type="submit"><i class="fas fa-search"></i>
                        </button>
                        <input class="inputS" type="search" name="search" pattern=".*\S.*" required>
                    </form>
                </div>
            </ul>
        </nav>
    </header>

    <!-- Termina nabvar -->

    <!-- Empiezan las cards -->
    <div class="bodyHome">
        <div class="titleCards">
            <div>
                <p> <b>NEW RELEASE </b></p>
            </div>
            <div>
                <p> <b>View all </b> </p>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <img src="../img/gatitocard1.jpeg" width="285px" height="322px" alt="Gatito card 1">
                <p class="descripcionCard"><b> Gatito card 1 </b></p>
            </div>
            <div class="card">
                <img src="../img/gatitocard2.jpeg" width="285px" height="322px" alt="Gatito card 2">
                <p class="descripcionCard"><b> Gatito card 2 </b></p>
            </div>
            <div class="card">
                <img src="../img/gatitocard3.jpg" width="285px" height="322px" alt="Gatito card 3">
                <p class="descripcionCard"><b>Gatito card 3 </b></p>
            </div>
            <div class="card">
                <img src="../img/gatitocard4.jpeg" width="285px" height="322px" alt="Gatito card 4">
                <p class="descripcionCard"><b> Gatito card 4 </b></p>
            </div>
        </div>
        <p class="titleCards"> <b> GALLERY </b></p>
        <div class="cards">
            <div class="card2">
                <img src="../img/gatitocard5.jpeg" width="430px" height="626px" alt="Gatito card 5">
                <div class="descripA">
                    <p class="descripcionCard2"><b>SHOP WOMEN </b> </p>
                    <p class="btnA"><i class="fas fa-arrow-right" style="color: #0c0d0d;"></i></p>
                </div>
            </div>
            <div class="card2">
                <img src="../img/gatitocard6.jpeg" width="430px" height="626px" alt="Gatito card 5">
                <div class="descripA">
                    <p class="descripcionCard2"><b> SHOP MEN </b></p>
                    <p class="btnA"><i class="fas fa-arrow-right" style="color: #0c0d0d;"></i></p>
                </div>
            </div>
            <div class="card2">
                <img src="../img/gatitocard7.jpg" width="430px" height="626px" alt="Gatito card 5">
                <div class="descripA">
                    <p class="descripcionCard2"><b> SHOP ACCESORIES</b></p>
                    <p class="btnA"><i class="fas fa-arrow-right" style="color: #0c0d0d;"></i></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Terminan las cards -->
</body>

</html>