<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/home.css" type="text/css" rel="stylesheet">
    <title> AZPORT || PAGINA WEB </title>
</head>
<body>
    <header> 

        <nav>      
            
            <ul class="navbarHome">
                
                <img class="logoNav" src="../public/logo.png">
                <li><a href="default.asp">Home</a></li>
                <li><a href="news.asp">News</a></li>
                <li><a href="contact.asp">Contact</a></li>
                <li><a href="about.asp">About</a></li>  
                <form action="" class="searchBar">
                <input class="inputS"  type="search" name="search" pattern=".*\S.*" required>
                <button class="search-btn" type="submit"> <span>Search</span>
                </button>
              </ul>
            </form>
        </nav>
    </header>


</body>
</html>