<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/home.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Inter:wght@300&family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">
    <title> AZPORT || PAGINA WEB </title>
</head>

<body>
    <header class="headerN">
        <nav class="nav">
            <ul class="navbarHome">
                <div class="logoNav">
                    <img src="../public/logo.png">
                </div>
                <div class="itemsNav">
                    <li><a><strong> WOMEN </strong></a></li>
                    <li><a><strong>MEN </strong></a></li>
                    <li><a><strong>ACCESORIES </strong></a></li>
                </div>
                <div class="searchBar">
                    <form  class="formN" action="">
                        <button class="btnN" type="submit"><i class="fas fa-search"></i>
                        </button>
                        <input class="inputS" type="search" name="search" pattern=".*\S.*" required> </form>
                </div>
            </ul> 
        </nav>
    </header>
</body>

</html>