<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login&register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <title>Account | Azport</title>
</head>



<body>
    <div class="container">
        <div class="contact-box">
            <div class="left">
                <img src="/img/Pullup.PNG" id="pullup">
            </div>
            <div class="right">
                <div class="form-input">
                    <a href="/"><img src="/img/logo.png" alt="" id="logo"></a>
                    <h2>MY AZPORT ACCOUNT</h2>

                    <div class="register">
                        <a href="/auth/login"><button class="upperbtn">Log in</button></a>
                        <a href="/auth/register"><button class="upperbtn">Sign up</button></a>
                    </div>

                    <form id="formularioLogin" action="/auth/login" method="POST">

                        <p class="info">Email Address</p>
                        <div class="inputForm">

                            <input id="email" type="email" name="email" class="field" placeholder="Enter email address">
                            <% if (locals.errors && errors.email) { %>
                                <p class="error">
                                    <%= errors.email.msg %>
                                </p>
                                <% } %>
                                    <span class="error" id="error-email"></span>
                        </div>

                        <p class="info">Password</p>
                        <div class="inputForm">

                            <input id="password" type="password" name="password" class="field"
                                placeholder="Enter password">
                            <span class="error" id="error-password"></span>
                        </div>

                        <div class="button">
                            <button class="btn">LOG IN</button>
                        </div>
                        <div><input type="checkbox" name="logged" id="">Remember me</div>
                        <div>
                            <p class="forgotten">Forgot password?</p>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="/js/validationsLogin.js"></script>
</body>


</html>