<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login&register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <title>Account | Azport</title>
</head>

<body>

    <body>
        <div class="container">
            <div class="contact-box">
                <div class="left">
                    <img src="/img/Pullup.PNG" id="pullup">
                </div>
                <div class="right">
                    <div class="form-input">
                        <a href="/"><img src="/img/logo.png" alt="" id="logo"></a>
                        <h2>MY AZPORT ACCOUNT</h2>

                        <div class="register">
                            <a href="/auth/login"><button class="upperbtn">Log in</button></a>
                            <a href="/auth/register"><button class="upperbtn">Sign up</button></a>
                        </div>

                        <div>
                            <p class="info">Email Address</p>
                            <input type="email" class="field" placeholder="Enter email address">
                            <p class="info">Password</p>
                            <input type="password" class="field" placeholder="Enter password">
                        </div>

                        <div class="button">
                            <button class="btn">LOG IN</button>
                        </div>
                        <div>
                            <p class="forgotten">Forgot password?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</body>

</html>