<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/productDetail.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Inter:wght@300&family=Poppins:ital,wght@1,100&display=swap"
        rel="stylesheet">
    <title> AZPORT || PAGINA WEB </title>
</head>

<body>
    <main class="main-container">

            <!-- Empieza navbar -->

            <header class="headerN">
                <nav class="nav">
                    <ul class="navbarHome">
                        <div class="logoNav">
                            <img src="../public/img/logo.png">
                        </div>
                        <div class="itemsNav">
                            <li><a><strong> WOMEN </strong></a></li>
                            <li><a><strong>MEN </strong></a></li>
                            <li><a><strong>ACCESORIES </strong></a></li>
                        </div>
                        <div class="searchBar">
                            <form class="formN" action="">
                                <button class="btnN" type="submit"><i class="fas fa-search"></i>
                                </button>
                                <input class="inputS" type="search" name="search" pattern=".*\S.*" required>
                            </form>
                        </div>
                    </ul>
                </nav>
            </header>

            <!-- Termina nabvar -->

            <section class="content">

                <article class="gallery">
                    <div class="gallery__image-container">
                        <img class="gallery__main-image" src="../public/img/doncic-dallas-frente.jpeg" alt="Imagen principal">
                    </div>
                    <div class="gallery__thumnails">
                        <img id="1" class="gallery__thumnail" src="../public/img/doncic-dallas-espalda.jpeg" alt="thumnail">
                        <img id="2" class="gallery__thumnail" src="../public/img/doncic-dallas-frente.jpeg" alt="thumnail">
                        <img id="3" class="gallery__thumnail" src="../public/img/drose-NY-espalda.jpeg" alt="thumnail">
                        <img id="4" class="gallery__thumnail" src="../public/img/drose-NY-frente.jpeg" alt="thumnail">
                    </div>
                </article>

                <article class="details">

                    <h2 class="details__marca">Tienda AZPORT</h2>
                    <h2 class="details__titulo">Calza reversible estampa Flores Uva</h2>
                    <p class="details__description">Descubre las prendas reversibles de alta compresión de Azport:
                        cómodas,
                        sin
                        rozaduras y cero transparencia. Combina diseños exclusivos y colores lisos con flexibilidad para
                        tus
                        actividades diarias y deportivas. Nuestra calza reversible tiene un ajuste flexible, cintura
                        elástica y
                        detalles de recortes para mayor comodidad. ¡Elige tu estilo preferido y luce a la moda con
                        confianza!
                    </p>

                    <div class="details__prices">
                        <p class="details__now">$2000.00 <span class="details__discount">50%</span></p>
                        <p class="details__before">$2500.00</p>
                    </div>

                    <div class="size-selector">
                        <h3>Selecciona tu talle:</h3>
                        <ul class="size-options">
                            <li class="size-option">S</li>
                            <li class="size-option">M</li>
                            <li class="size-option">L</li>
                            <li class="size-option">XL</li>
                            <li class="size-option">XXL</li>
                        </ul>
                    </div>

                    <div class="details_product-quantity">
                        <div class="input">
                            <img class="input__menos" src="../public/img/menos.png" alt="icono menos">
                            <input class="input__number" type="number" value="0">
                            <img class="input__mas" src="../public/img/suma.png" alt="icono suma">
                        </div>
                    </div>
                    <button class="details_button">Agregar al carrito</button>
                    </div>

                </article>

            </section>
    </main>
    </div>
</body>

</html>