<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/productDetail.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <title> AZPORT || PAGINA WEB </title>
</head>

<body>
    <!-- Empieza navbar -->
    <%- include("partials/header"); %>
        <!-- Termina nabvar -->

        <main class="main-container">
            <section class="content">

                <article class="gallery">
                    <div class="gallery__image-container">
                        <img class="gallery__main-image" src="/img/doncic-dallas-frente.jpeg" alt="Imagen principal">
                    </div>
                    <div class="gallery__thumnails">
                        <img id="1" class="gallery__thumnail" src="/img/doncic-dallas-espalda.jpeg" alt="thumnail">
                        <img id="2" class="gallery__thumnail" src="/img/doncic-dallas-frente.jpeg" alt="thumnail">
                        <img id="3" class="gallery__thumnail" src="/img/drose-NY-espalda.jpeg" alt="thumnail">
                        <img id="4" class="gallery__thumnail" src="/img/drose-NY-frente.jpeg" alt="thumnail">
                    </div>
                </article>

                <article class="details">

                    <h2 class="details__titulo">Seamless Vital 2.0 Legging</h2>
                    <p class="colorInfo">LightBlue</p>
                    <p class="">Azport Women</p>
                    <div class="details__prices">
                        <p class="details__now">$28.00 <span class="details__discount">50%</span></p>
                        <p class="details__before">$56.00</p>
                    </div>

                    <div class="size-selector">
                        <h3>Select your size:</h3>
                        <ul class="size-options">
                            <li class="size-option">S</li>
                            <li class="size-option">M</li>
                            <li class="size-option">L</li>
                            <li class="size-option">XL</li>
                            <li class="size-option">XXL</li>
                        </ul>
                    </div>

                    <div class="details_product-quantity">
                        <div class="input">
                            <img class="input__menos" src="/img/menos.png" alt="icono menos">
                            <input class="input__number" type="number" value="0">
                            <img class="input__mas" src="/img/suma.png" alt="icono suma">
                        </div>
                    </div>
                    <button class="details_button">Add to bag</button>
                    </div>
                </article>
            </section>

            <div class="infoDeliverySection">
                <section>
                    <h5>Delivered to your door</h5>
                    <ul class="deliveryList">
                        <li class="returnPolicy">
                            <span class="icon"><i class="fa-solid fa-rotate-left"></i></span>
                            <p>Free 30-Day Return Policy!</p>
                        </li>
                        <li class="standardDelivery">
                            <span class="icon"><i class="fa-solid fa-box"></i></span>
                            <p>Free Standard Delivery over $150</p>
                        </li>
                    </ul>
                </section>
            </div>

            <section class="descriptionInfo">
                <h5>Description</h5>
                <p class="details__description">Descubre las prendas reversibles de alta compresión de Azport:
                    cómodas,
                    sin
                    rozaduras y cero transparencia. Combina diseños exclusivos y colores lisos con flexibilidad para
                    tus
                    actividades diarias y deportivas. Nuestra calza reversible tiene un ajuste flexible, cintura
                    elástica y
                    detalles de recortes para mayor comodidad. ¡Elige tu estilo preferido y luce a la moda con
                    confianza!
                </p>
            </section>



        </main>

        <%- include("partials/footer"); %>
            </div>
</body>

</html>