<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/style.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>

<body>

    <body>
        <div class="container">
            <div class="contact-box">
                <div class="left">
                    <img src="./Pullup.PNG" id="pullup">
                </div>
                <div class="right">
                    <div class="form-input">
                        <a href=""><img src="./logo.png" alt="" id="logo"></a>
                        <h2>MY AZPORT ACCOUNT</h2>

                        <div class="register">
                            <button class="upperbtn">Log in</button>
                            <button class="upperbtn">Sign up</button>
                        </div>

                        <div>
                            <p class="email info">Email Address</p>
                            <input type="email" class="field" placeholder="Enter email address">
                            <p class="password info">Password</p>
                            <input type="password" class="field" placeholder="Enter password">
                            <p class="name info">First Name</p>
                            <input type="text" class="field" placeholder="Enter first name">
                            <p class="name info">Last Name</p>
                            <input type="text" class="field" placeholder="Enter last name">
                        </div>

                        <div class="check">
                            <input type="checkbox" id="cbox2" value="second_checkbox">
                            <label for="cbox2" id="label">Tick here if you want to get marketing emails from
                                Azport</label>
                        </div>

                        <div class="last-text">
                            <p>Want to know more about how and why Azport uses your personal information? Read our
                                Privacy Notice.</p>
                        </div>

                        <div class="createButton">
                            <button class="btn">Create Account</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </body>
</body>

</html>