<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/userProfile.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Inter:wght@300&family=Poppins:ital,wght@1,100&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <title>Profile</title>
</head>

<body>


    <%- include("partials/header"); %>







        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div class="divP">
            <div class="userP">
                <div>
                    <img class="logoP" src="/img/logo.png" type="image/icon" rel="icon">
                </div>
                <% if (locals.userIsLog) { %>
                    <h1>¡Hi <%= locals.userLogged.name %>!
                    </h1>
                    <h3> Nos agrada verte de nuevo! </h3>
                    <button><a href="/">HOME</a></button>
                    <% } %>
            </div>
        </div>
</body>

</html>