* {
    font-family: 'Roboto', sans-serif;
}

main {
    margin-top: 150px;
}

.title {
    text-align: center;
}

.form-Info {
    text-align: center;
}

.inputInfo {
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin: auto;
    padding-bottom: 10px;
}

.inputInfo label {
    text-align: left;
}