/*  Comienta barra navbar */

.nav {
    box-sizing: border-box;
    background-color: white;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    border-bottom: 1px solid #e7e7e7;
}

.navbarHome {
    /*margin-top: 15px;*/
    padding: 15px 0;
    display: flex;
    gap: 20px;
    height: 40px;
    width: 100%;
    list-style: none;
    align-items: center;
}

.itemsNav {
    display: none;
}

.searchBar {
    display: flex;
    gap: 5px;
    width: 100%;
}

.formN input {
    display: none;
}

.inputS {
    height: 4vh;
    width: 100%;
    background-color: #e8e6e6;
    align-items: left;
    justify-self: end;
    text-align: left;
}

.logoNav {
    /*height: 30px;*/
    position: absolute;
    left: 42%;
}

.imgLogo {
    height: 54px;
    width: 68px;
}

.btnN {
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    background-color: white;
}

.navIcon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-direction: row;
    /* padding-right: 10px; */
}

.iconNav {
    width: 20px;
}

i {
    font-size: 20px;

}

a {
    text-decoration: none;
    color: black;
}

/*  Termina barra navbar */

@media (min-width: 468px) {
    .itemsNav {
        display: none;
    }

    .formN input {
        display: none;
    }


    .logoNav {
        left: 45%;
    }
}

@media (min-width: 1023px) {

    i.fa-bars {
        display: none;
    }

    .itemsNav {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 80px;
    }

    .logoNav {
        width: 100%;
        display: flex;
        justify-content: start;
        padding-left: 25px;
        position: unset;
    }

    .searchBar {
        justify-content: end;
    }

    .formN {
        display: flex;
        gap: 2px;
        padding-right: 25px;
    }

    .formN input {
        display: block;
    }