* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



/* body {
    background-color: #D9D9D9;
} */

/* Empieza el body con cards */

/* Additions */
.content {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    margin-top: 70px;
}

.details,
.descriptionInfo,
.infoDeliverySection {
    padding: 24px 16px;
    /* margin-right: 40px; */
}


.gallery__image-container img {
    width: 100%;
    height: auto;
}

.gallery__thumnails {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.gallery__thumnails img {
    width: 23%;
    margin: 1%;
}

.details__marca,
.details__titulo {
    margin-bottom: 10px;
}

.details__description {
    margin-bottom: 20px;
}

.details__prices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.details__now {
    font-size: 20px;
    color: #000;
}

.details__discount {
    color: red;
    margin-left: 10px;
}

.details__before {
    text-decoration: line-through;
    color: #999;
}

.details_product-quantity {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.details_button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
}

.size-selector {
    margin: 1rem 0;
}

.size-selector h3 {
    margin: 1rem 0;
}

.size-options {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.size-option {
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    cursor: pointer;
}

.deliveryList {
    padding: 24px;
    height: 73px;
    background-color: lightgray;
    margin: 24px 0;
}

.returnPolicy {
    margin-bottom: 25px;
    display: flex;
}

.standardDelivery {
    display: flex;
}

.icon {
    padding-right: 10px;
}











@media (min-width: 768px) {

    .gallery,
    .details {
        width: 45%;
    }
}